BasedOnStyle: LLVM
BreakBeforeBraces: Attach
NamespaceIndentation: All
AccessModifierOffset: -4
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: true 
BreakConstructorInitializers: AfterColon
ColumnLimit: 119
Cpp11BracedListStyle: true
IndentAccessModifiers: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^"(core|drivers|scene)/.*"$
    Priority: 2
  - Regex: ^"(importers|platform|rendering|runtime)/.*"$
    Priority: 3
  - Regex: ^<(core|drivers|scene)/.*>$
    Priority: 4
  - Regex: ^<(importers|platform|rendering|runtime)/.*>$
    Priority: 5
  - Regex: ^<.*\.h>$
    Priority: 6
  - Regex: ^<.*>$
    Priority: 7
  - Regex: ^".*"$
    Priority: 1
IndentCaseLabels: true
IndentWidth: 4
IndentPPDirectives: AfterHash
InsertBraces: true
LineEnding: LF
# Disabled, enable when clang 19 is available on Mint
# KeepEmptyLines:
#   AtEndOfFile: false
#   AtStartOfBlock: false
#   AtStartOfFile: false
# Replace with above past clangd-19
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: Never
PointerAlignment: Right
TabWidth: 4
UseTab: Always
